<?xml version="1.0"?>
<robot name="hummingbird" xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo reference="${robot_namespace}/led_link">
        <material>Gazebo/GreenGlow</material>
    </gazebo>

    <gazebo reference="">
        <material>Gazebo/BlueGlow</material>
    </gazebo>

    <gazebo reference="">
        <material>Gazebo/YellowGlow</material>
    </gazebo>

    <gazebo reference="">
        <material>Gazebo/PurpleGlow</material>
    </gazebo>

</robot>